<?xml version="1.0"?>
<model>
  <name>marlab</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Joao Gaspar Cunha</name>
    <email>gasparcunha19@outlook.pt</email>
  </author>
  <description>
    Pedestal model for bi-manual kuka lbr iiwa14 setup.
  </description>
</model>
